html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: Verdana;
    color:white;
}

canvas {
    display: block;
}

#spectrum {
    display: block;
    z-index: 1000;
    position: absolute;
    border: 1px solid white;
}

#choppiness {
    top: 460px;
    width: 128px;
    height: 1px;
    z-index: 1000;
    position: absolute;
    left: 0px;
    margin:0;
}

#spacial {
    display: block;
    z-index: 1000;
    position: absolute;
    top: 256px;
    border: 1px solid white
}

#camera-height{
    display: block;
    z-index: 1000;
    position: absolute;
    top: 512px;
    width: 124px;
}

#hu {
    display: block;
    z-index: 1000;
    position: absolute;
    top: 128px;
    border: 1px solid white
}

#panel {
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1000;
    position: absolute;
    width: 130px;
    display: block;
    height: 100vh;
}

#choppiness-lbl{
   top: 437px;
    width: 128px;
    height: 1px;
    z-index: 1000;
    position: absolute; 
}

#cheight-lbl{
    top: 490px;
    width: 128px;
    height: 1px;
    z-index: 1000;
    position: absolute;
}